body{
    text-align: center;
    background-color: bisque;
}

.navgrid{
    display: grid;
    grid-template-columns:  repeat(5,1fr);
    grid-template-rows: 50px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:blue;
}

a:active{
    color:black;
}

#arrpblm{
    color: red;
}